# Python / Django
backend_venv/
__pycache__/
*.pyc
*.db
**/db.sqlite3
backend/staticfiles/
backend/media/
venv
.venv

# Node / React
frontend/node_modules/
frontend/dist/

# Env files
.env.local
*.env.production

# Editor / OS
.vscode/
.idea/
.DS_Store
